html{
  position: relative;
  width: 100%;
  min-height: 100%;
}

body{
  position: absolute;
  width: 100%;
  min-height: 100%;
}

//////////////////// MESSAGES \\\\\\\\\\\\\\\\\\

.message{
  display: block;
  position: absolute;
  top: 70px;
  right: 70px;
  width: 250px;
  height: 90px;
  border-radius: 10px;
  background-color: #000;
  z-index: 2;
  box-shadow: 0px 0px 10px 1px #FFE;
  .message-wrap{
    min-height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    color: #fff;
    padding: 25px;
  }
  span{
    img{
      position: absolute;
      top: 5px;
      right: 5px;
    }
  }
}

.success{
  background: #4cae4c;
}
.error{
  background: #de0000;
}
.info{
  background: #66f;
}


////////////////////////////////////////////////

//////////////////// FORMS \\\\\\\\\\\\\\\\\\\\\\

.label-custom{

}
.custom-form-input{
  border: 1px solid #ddd;
}


/////////////////////////////////////////////////

.loginPage{
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(../img/background.jpg);

  .title-page{
    padding: 20px;
    text-align: center;
    width:100%;
    height:100px;
    color: #fff;
    background-image: linear-gradient(#000,rgba(250,250,250,0));
    h1{
      margin:0;
      font-size: 60px;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
  .container-mine{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    height: 100%;
    background-image: linear-gradient(#000,rgba(250,250,250,0),#000);
    .login-form{
      widtH: 300px;
      height:200px;
      background: rgba(250,250,250,0.8);
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      position: relative;
      margin:auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

}

/////////////////// NAVIGATION \\\\\\\\\\\\\\\\\\\\\\\\

.container-mine{
  .background{
    background: url(../img/background.jpg);
    opacity: 0.2;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  nav{
    .navigation-bar{
      background: #ddd;
      .navigation{

      }
    }
  }
}


///////////////////////////////////////////////////////